.bold {
	font-weight: bold;
}
#xpBar {
	width: 200px;
	height: 25px;
	background: red;
	border-radius: 5px;
}
#xpBar > div {
	display: inline-block;
	background: green;
	height: 25px;
	border-radius: 5px;
}
#vid{
	position: absolute;
}
#resultImg {
	width: 50%;
	float: left;
}
#gameScore {
	display: none;
	float: left;
	margin-left: 10px;
}
#instructions, #afterImg, #gameOver{
	display: none;
}
#textContainer {
	height: 100px;
}
#level > span {
	color:red;
}